@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', 'Poppins', sans-serif !important;
}

html, body{
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
}

.dashboard-layout-children-container::-webkit-scrollbar{
  width: 4px;
}

.dashboard-layout-children-container::-webkit-scrollbar-track{
  background: #ccc;
  border-radius: 16px;
}

.dashboard-layout-children-container::-webkit-scrollbar-thumb{
  background-color: #1d1d1d;
}


